= react_component("UserHeader", props: { withoutSearch: true, user: current_user })
.container
  .row
    .col-sm-9
      %article#post-108.post-108.page.type-page.status-publish.hentry.gallery-content-unit
        .entry-content
          %header.entry-header
            %h1.entry-title Impressum, Datenschutz und Nutzungsbedingungen
          %h2 Anbieter
          %p Diensteanbieter im Sinne von §5 Telemediengesetz (TMG) und §55 Rundfunkstaatsvertrag (RStV):
          %p
            Prof. Dr. Alexander Mädche
            %br/
            Karlsruhe Institute of Technology (KIT)
            %br/
            Institute of Information Systems and Marketing (IISM)
            %br/
            Fritz-Erler-Straße 23
            %br/
            76131 Karlsruhe
          %table{:border => "0", :cellpadding => "1", :cellspacing => "1", :width => "100%"}
            %tbody
              %tr
                %td{:width => "25%"} Rechtlicher Sitz:
                %td
                  Karlsruher Institut für Technologie
                  %br/
                  Kaiserstraße 12
                  %br/
                  76131 Karlsruhe
                  %br/
                  Deutschland
                  %br/
                  Tel.: +49 721 608-0
                  %br/
                  Fax: +49 721 608-44290
                  %br/
                  E-Mail:
                  %a{:href => "mailto:info@kit.edu"} info@kit.edu
              %tr
                %td Rechtsform:
                %td Körperschaft des öffentlichen Rechts
              %tr
                %td Vertretungsberechtigt:
                %td Prof. Dr.-Ing. Holger Hanselka (Präsident des KIT)
              %tr
                %td Verantwortlich für den Inhalt:
                %td
                  Dr. Thomas Windmann
                  %br/
                  Leiter Presse, Kommunikation und Marketing (PKM)
              %tr
                %td Umsatzsteuer-Identifikationsnummer:
                %td DE266749428
          %h2 Datenschutzerklärung
          %p Die folgende Datenschutzerklärung bezieht sich auf das komplette ParKing-Projekt, also sowohl auf diese Website, als auch auf die App selbst.
          %h3 Datenschutz Hinweise:
          %p
            Das KIT (Institute of Information Systems and Marketing – IISM und Karlsruhe Service Research Institute – KSRI) führt in Kooperation mit der Robert Bosch GmbH eine Forschungsstudie durch mit dem Ziel einen Ansatz zur Erhebung von Parkplatzinformationen zu evaluieren. Im Rahmen dieses Projekts wurde eine App mit dem Namen „ParKing“ entwickelt. ParKing ist ein Alternate Reality Game für iOS und Android, bei dem die Spieler die Kontrolle über Straßenabschnitte und ganze Teile der Stadt übernehmen, um der ParKing ihres Viertels zu werden und dabei als Crowd eine Datenbank aus Parkbedingungen erstellen.
            %br/
            Das Hauptziel von ParKing ist es dabei Informationen über Parkbedingungen in Straßenabschnitten großer deutscher Städte zu sammeln. Über einen Gamification-Ansatz soll diese Aufgabe an die Community weitergegeben werden. Als zentrale Spielmechanik des Mobile-Games steht das Eintragen von Parkinformationen zu Straßen. Die gesammelten Informationen: Parkinformationen, Spielstände und Nutzungsdaten werden im Rahmen des Forschungsprojekts erhoben und ausgewertet. Da das zugrundeligende Kartenmaterial auf OpenStreetMap beruht werden die gesammelten Parkinformationen unter die
            %a{:href => "http://opendatacommons.org/licenses/odbl/1.0/"} Open Database License
            (ODbL) gestellt. Diese Daten können an Dritte weitergegeben und von diesen weiterverwendet werden. Die Teilnehmer werden nicht materiell oder finanziell für das Überlassen von Daten belohnt. Die Belohnung findet über nicht-materielle Spielelemente statt.
          %h3 Daten Erhebung, Verarbeitung:
          %p
            Gemäß §15 des TMG und §14 des BDSG werden die Nutzungsdaten der ParKing App behandelt.
            %br/
            Personenbezogene Daten von Ihnen werden soweit dies zum Zweck der Durchführung der Studie erforderlich erhoben und verarbeitet. Sämtliche personenbezogenen Daten werden nur solange gespeichert wie sie zur genannten Zweckerfüllung notwendig sind.
          %h3 Personenbezogene Daten:
          %p
            Mit der Nutzung der Smartphone App ParKing werden die E-Mail Adresse, die Smartphone IP Adresse sowie die Standortdaten bei der Eingabe von Parkbedingungen erfasst.
            %br/
            Die E-Mail Adresse wird zur Authentifizierung und der Nutzerkontenverwaltung verwendet und nicht an Dritte weiter gegeben.
            %br/
            Die IP Adresse des Smartphones wird von den Netzwerkkomponenten des Hosters und der eingesetzten Serversoftware (z.B. dem Geoserver usw.) standardmäßig in den Server-Logs gespeichert. Dies dient der Wahrung der Sicherheitsstandards um z.B. Hackerangriffe erkennen zu können.
            %br/
            Ferner wird die IP Adresse bei Zugriffen auf die Nutzerdatenbank geloggt, damit die Nachvollziehbarkeit der Veränderung von Nutzerdaten gewährleistet werden kann.
          %h3 Standortdaten:
          %p
            Wir benötigen den Zugriff auf den Standort Ihres Gerätes. Bei der Eingabe der Parkinformationen erheben wir Ihren aktuellen Standort über GPS, damit eine Verbindung zu den bereits vorhandenen Daten erstellt werden kann. Daten zu Ihrem Standort werden nur für die Zuordnung der von Ihnen bereitgestellten Daten verwendet. Die Übertragung Ihrer Standortdaten erfolgt über eine verschlüsselte Verbindung. Ihre Standortdaten werden anonymisiert ausgewertet.
            %br/
            Auf Wunsch kann der Nutzer bei Benutzung der App seinen aktuellen Standort anderen Nutzern der App anzeigen lassen. Bei Auswahl dieser Option wird bei aktiver Nutzung der App der letzte Standort des Nutzers kurzzeitig auf unseren Server vorgehalten. Diese Standortinformation wird ausschließlich in flüchtigen Datenspeichern vorgehalten und automatisch gelöscht, sobald die App beendet wird und daher keine aktive Verbindung zwischen dem Nutzer und unserem Server vorliegt. Die Zustimmung ist ausdrücklich durch die Einverständniserklärung vom Nutzer zu erteilen und kann jederzeit widerrufen werden.
          %h3 Gamification Daten:
          %p Die durch die Nutzung der App erzielten Spielstände werden pseudonymisiert gespeichert, die Zuordnung zum Nutzer ist nur über eine ID möglich. Spielstände, vom Nutzer virtuell erworbene Straßen, Virtel und im Spiel freigeschaltete Gegenstände werden mit dem Psydonym eines Spielers verknüpft und anderen Nutzer der ParKing App angezeigt. Der Nutzer kann das angezeigte Pseudonym selbst wählen und jeder Zeit anpassen.
          %h3 Nutzdaten:
          %p Die mit der App gesammelten parkraumbezogenen Daten werden anonymisiert mit den vorhandenen Parkraumdaten gespeichert. Die Daten werden den Nutzern der ParKing App, sowie Dritten auf Anfrage zur Verfügung gestellt. Die vom Nutzer übermittelten Parkplatz-Daten können aggregiert, weiterverarbeitet, ausgewertet und visualisiert werden.
          %h3 Verarbeitung:
          %p
            Die oben beschriebenen Daten werden auf den von der Firma Hetzner Online GmbH betriebenen Server und Datenbanken gespeichert. Ein direkter Zugriff auf die Daten oder die Verarbeitung der Daten durch die Firma Hetzner Online GmbH ist ausgeschlossen. Details können der
            %a{:href => "https://www.hetzner.de/hosting/legal/agb", :target => "_system"} Datenschutzerklärung
            entnommen werden.
          %p Personenbezogene Daten werden ausschließlich durch das KIT verarbeitet und weder für andere Produkte verwendet, noch Dritten zur Verfügung gestellt. Anonymisierte Datensätze können für wissenschaftliche Zwecke durch das KIT und die Firma Robert Bosch GmbH genutzt werden.
          %h2 Nutzungsbedingungen
          %p
            Die Nutzungsbedingungen sind gemäß §13 des TMG und §4a des BDSG.
            %br/
            Die Smartphone App ParKing kann nur nach ausdrücklicher freiwilliger Zustimmung zu der Datenschutzerklärung genutzt werden. Die Datenschutzerklärung kann oben eingesehen werden.
          %p Der Nutzer erklärt sich bereit, die App ParKing nicht als Fahrer im Straßenverkehr zu verwenden, als Fußgänger stets auf seine Umgebung zu achten und gesetzliche Vorgaben (insbesondere das Straßenverkehrsgesetz und die Straßenverkehrsordnung) bei der Nutzung der App zu beachten.
          %p Für Sach- und Rechtsmängel haftet der Betreiber der App nur, soweit er Sach- oder Rechtsmängel arglistig verschwiegen hat. Im Übrigen haftet der Betreiber, dessen gesetzlicher Vertreter und Erfüllungsgehilfen sowie deren Lieferanten aufgrund der unentgeltlichen Bereitstellung der App nur im Falle eines vorsätzlichen oder grob fahrlässigen Fehlverhaltens auf den Ersatz des etwaig entstandenen Schadens.
          %p Es wird insbesondere darauf hingewiesen, dass der Betreiber der App keine Haftung für Schäden übernimmt, die sich aus einem vertrags- bzw. ordnungswidrigen Betrieb (insbesondere aus einem Verstoß gegen die für die Teilnahme am Straßenverkehr gültigen gesetzlichen Vorschriften) ergeben. Es wird weiter darauf hingewiesen, dass die angezeigten Daten auf aggregierten Daten anderer Nutzer beruhen, nicht der Wahrheit entsprechen müssen und von vielen durch den Betreiber nicht beeinflussbaren Faktoren, wie etwa der Anzahl der aktiven Nutzer, abhängen. Die Nutzung der App entbindet den Nutzer nicht davon die örtlichen Gegebenheiten und die aktuelle Verkehrslage durch die eigene Wahrnehmung zu erfassen oder zu beurteilen. Der Betreiber der App ParKing haftet nicht für vom Nutzer verursachte Verkehrsverstöße sowie für einen daraus resultierenden Schaden (einschließlich verhängter Bußgelder), die auf möglicherweise Funktionsstörungen der ParKing App oder von Nutzern fälschlich zur Verfügung gestellten Informationen beruhen.
          %h3 Widerrufsrecht:
          %p
            Als Nutzer kann ich jederzeit meine Zustimmung zu der Datenschutzerklärung widerrufen. Dies kann direkt über das Löschen des Benutzer-Accounts in der Smartphone App erfolgen oder durch eine E-Mail an die zuständige Datenschutzverantwortliche Stelle:
            = succeed "." do
              %a{:href => "mailto:info@parking-app.de"} info@parking-app.de
          %p
            Mit meinem Widerruf wird mein Nutzerkonto gelöscht, was bedeutet, dass alle personenbezogenen Daten gelöscht werden. Alle Gamification Daten werden ungültig und nicht weiter angezeigt.
            %br/
            Die von mir bereitgestellten Details zu den Parkräumen werden nicht gelöscht, sondern stehen anderen Nutzern weiterhin anonymisiert in der App ParKing zur Verfügung und können Dritten anonymisiert zur Verfügung gestellt werden.
          %h3 Zustimmung:
          %p Mit Nutzung der App erkläre ich, dass ich die Datenschutzerklärung zur Kenntnis genommen habe und ich über die Nutzung der erhobenen Daten umfassend informiert wurde. Mit meiner Zustimmung erkenne ich die Inhalte der Datenschutzerklärung und die Nutzungsbedingungen an.
  	

= react_component("Footer")
