= react_component("UserHeader", props: { withoutSearch: true, user: current_user })
.container
  .row
    .col-sm-9
      %article#post-108.post-108.page.type-page.status-publish.hentry.gallery-content-unit
        .entry-content
          %header.entry-header
            %h1.entry-title Impressum
          %h2 Anbieter
          %p Diensteanbieter im Sinne von §5 Telemediengesetz (TMG) und §55 Rundfunkstaatsvertrag (RStV):
          %table{:border => "0", :cellpadding => "1", :cellspacing => "1", :width => "100%"}
            %tbody
              %tr
                %td{:width => "25%"} Rechtlicher Sitz:
                %td
                  Karlsruher Institut für Technologie
                  %br/
                  Kaiserstraße 12
                  %br/
                  76131 Karlsruhe
                  %br/
                  Deutschland
                  %br/
                  Tel.: +49 721 608-0
                  %br/
                  Fax: +49 721 608-44290
                  %br/
                  E-Mail:
                  %a{:href => "mailto:info@kit.edu"} info@kit.edu
              %tr
                %td Rechtsform:
                %td Körperschaft des öffentlichen Rechts
              %tr
                %td Vertretungsberechtigt:
                %td Prof. Dr.-Ing. Holger Hanselka (Präsident des KIT)
              %tr
                %td Verantwortlich für den Inhalt:
                %td
                  Alexandra-Gwyn Paetz
                  %br/
                  Leiter Presse, Kommunikation und Marketing (PKM)
              %tr
                %td Umsatzsteuer-Identifikationsnummer:
                %td DE266749428
          %h3 Copyright
          %p 
            Für die Internet-Seiten des Karlsruher Instituts f&uuml;r Technologie liegen Copyright und alle weiteren Rechte beim Karlsruher Institut f&uuml;r Technologie, Kaiserstraße 12, 76131 Karlsruhe, Deutschland. Weiterverbreitung, auch in Auszügen, für pädagogische, wissenschaftliche oder private Zwecke ist unter Angabe der Quelle gestattet (sofern nicht anders an der entsprechenden Stelle ausdrücklich angegeben). Eine Verwendung im gewerblichen Bereich bedarf der Genehmigung durch das Karlsruher Institut für Technologie. Ansprechpartner ist die 
            %a{:href => "mailto:datenschutzbeauftragter@kit.edu"} Datenschutzbeauftragten. 
          %h3 Haftung
          %p
            Diese Internetseiten dienen lediglich der Information. Ihr Inhalt wurde mit gebührender Sorgfalt zusammengestellt. Das Karlsruher Institut für Technologie übernimmt aber keine Garantie, weder ausdrücklich noch implizit, fürr die Art oder Richtigkeit des dargebotenen Materials und übernimmt keine Haftung (einschließlich Haftung für indirekten Verlust oder Gewinn- oder Umsatzverluste) bezüglich des Materials bzw. der Nutzung dieses Materials. Sollten Inhalte von Web-Seiten des Karlsruher Instituts für Technologie gegen geltende Rechtsvorschriften verstoßen, dann bitten wir um umgehende Benachrichtigung. Wir werden die Seite oder den betreffenden Inhalt dann schnellstmöglich entfernen.
          %h3 Verweise auf Externe Web-Seiten
          %p
            Die Web-Seiten des Karlsruher Instituts f&uuml;r Technologie enthalten Verweise (Links) zu Informationsangeboten auf Servern, die nicht der Kontrolle und Verantwortlichkeit des Karlsruher Instituts fürr Technologies unterliegen. Das Karlsruher Institut für Technologie übernimmt keine Verantwortung und keine Garantie für diese Informationen und billigt oder unterstützt diese auch nicht inhaltlich.
          %h3 Datenschutz und IT-Sicherheit
          %p
            Das Karlsruher Institut f&uuml;r Technologie verpflichtet sich, die Privatsphäre aller Personen zu schützen, die unsere Site nutzen, und die uns überlassenen personenbezogenen Daten vertraulich zu behandeln. Die Daten werden ausschließlich für die jeweils angegebenen Zwecke verwendet und nicht an Dritte weitergegeben. Ihre Daten werden gelöscht, sobald sie dem angegebenen Zweck gedient haben.
            %br/
            Verschlüsselungstechniken werden auf unseren Internetseiten derzeit nur zur Authentifizierung eingesetzt. Sie müssen also damit rechnen, dass Ihre Angaben auf dem Wege zu uns Unbefugten zur Kenntnis kommen. Wenn Sie dies vermeiden wollen, so wenden Sie sich bitte auf anderem Wege an die jeweils angegebene Kontaktstelle oder Kontaktperson.
            %br/
            Zur Aufrechterhaltung Ihrer Sitzung kann es u. U. notwendig sein, ein Cookie zu setzen.
            %br/
            Ihre Web-Browser- oder Client-Software über möglicherweise ohne Ihr Zutun Informationen &uuml;ber Ihren Rechner (beispielsweise IP-Adresse) an unsere Server. Derartige Informationen werden niemals direkt mit Ihnen in Verbindung gebracht sondern nur in anonymer Form für Zwecke der Statistik, der Systemverwaltung oder der Verbesserung der Leistungsfähigkeit unseres Internet-Angebotes ausgewertet.
            %br/
            Sollten Sie weitere Fragen zu unseren Datenschutz-Standards haben, wenden Sie sich bitte an unseren
            %a{:href => "mailto:datenschutzbeauftragter@kit.edu"} Datenschutzbeauftragten. 
            Möchten Sie sich überdie Konzepte und technische Realisierung unserer IT-Sicherheit informieren, wenden Sie sich bitte an unseren 
            %a{:href => "mailto:it-sicherheitsbeauftragter@kit.edu"}IT-Sicherheitsbeauftragten.
          
  	

= react_component("Footer")
