= react_component("UserHeader", props: { withoutSearch: true, user: current_user })
.container.contact-container
  %h2
    Contact
  %p.contact
    %a{:href => "mailto:xuanhui.liu@kit.edu"}xuanhui.liu@kit.edu"
    

= react_component("Footer")
