= react_component("UserHeader", props: { withoutSearch: true, user: current_user })
.container.about-container
  .row
    .col-md-5
      %h1
        About
      %p
        ServiceDesignKIT provides a comprehensive overview of existing design techniques for digital services and supports their selection and application. 
  .row
    .col-md-5
      %p
        Each design technique is represented by flipcards including a short description as well as a step-by-step instruction on how to execute it. It combines a top-down taxonomy-based classification and a bottom-up tag-based classification with an interactive search function allowing easy access to the design techniques. ServiceDesignKIT is an open platform allowing people to contribute with comments and add further design techniques. 
  .row
    .col-md-3
      %p
        ServiceDesignKIT is provided by the research group <a href="http://issd.iism.kit.edu/">"Information Systems & Service Design"</a> (Prof. Dr. Alexander Maedche) of the <a href="http://www.iism.kit.edu/">Institute of Information Systems and Marketing (IISM)</a> and <a href="http://www.ksri.kit.edu/">Karlsruhe Service Research Institute (KSRI)</a> at the <a href="http://www.kit.edu/">Karlsruhe Institute of Technology (KIT)</a>, Germany. 
    .col-md-2
      .logo
        = image_tag("kit_logo.png", :alt => "KIT-Logo", class:"kit_logo")
  .row
    .col-md-5
      %p
      ServiceDesignKIT was developed by Erwin Leung as part of a research project carried out by Xuanhui Liu. The source code can be found on <a href="https://github.com/ServiceDesignKIT/ServiceDesignKIT"></a>, where you also can find further information from a technical perspective.
  .row
    .col-md-5  
      %p
      %h3
        More information to the taxonomy-based classification
      %p  
        %b Design Phase:
        usually regarded as preconditions when choosing design techniques.
        %br/
        Planning: making a plan for an entire design process.
        %br/
        Draft Prototype: designers make a series of assessments to compare their prototypes with each other to select the appropriate ones.
        %br/
        Detailed Prototype: Design techniques focus on evaluating the design works in detail to modify the prototypes to get a stable version
        %br/
        Launching: Design techniques concentrate on collecting long-term feedback to help designers to improve digital services further and to prepare for the next iteration.
      %p
        %b Evaluation Type:
        indicate how to evaluate an outcome of a design activity.
        %br/
        Observation: designers observe user behavior.
        %br/
        Questionnaire: to measure users’ goal achievement, satisfaction, etc. based on retrospective memory. 
        %br/
        Group Discussion: share ideas in a group to make a decision.
        %br/
        Interview: generate rich data that reveals users’ previous experience and prospect.
        %br/
        Experiment: reflect user behavior in a specific environment by means of concrete data.
      %p
        %b Time Dependency:
        discriminates between immediate emotional feedback and feedback based on memory during interaction with digital services.
        %br/
        Retrospective: Design techniques indicate the dynamics of emotion based on users’ impressions of the experience and the goal achievement.
        %br/
        Real Time: Design techniques are applied to reveal various users’ immediate emotional feedback. 
      %p
        %b User Participation:
        When real users should become involved depends on their roles and design purposes in different design phases.
        %br/
        User Involved: real users are involved in design processes.
        %br/
        Without Real User: real users are not involved in the design activity, but some fictitious user profiles may be used.
      %p
        %b Duration: 
        is based on the specific time length in an iteration cycle of design processes.
        %br/
        Short Term: design activities are conducted in short time period.
        %br/
        Long Term: demonstrate how relationships between digital services and users evolve.
        %br/
        %br/
        %br/
        Besides the web tool, we also have paper printed cards for techniques. A new version is coming soon.
      = image_tag("about.png", :alt => "Cards")






= react_component("Footer")