= react_component("UserHeader", props: { withoutSearch: true, user: current_user })
.container.about-container
  %h1
    About
  %p.paragraph1
    Service Design KIT is an ongoing research of the research group “Information Systems & Service Design” from Institute of Information Systems and Marketing (IISM) of Karlsruhe Institute of Technology (KIT). It was developed by E. Leung as a research project. The source code can be found on <a href="https://github.com/ServiceDesignKIT/ServiceDesignKIT">Github</a>, where you also can find further information from a development perspective.
  = image_tag("about.png", :alt => "Picture")
  %p.paragraph2
    Service Design KIT seeks to not only support the selection of design techniques for digital services but also provide an open platform to allow people to share and discuss design techniques. We provide two classifications. On the left-hand side is an expert knowledge based classification. On the right-hand side is a classification created by the users of the web tool. The techniques are represented by flipcards, where people see a short description of the technique and on the backside instruction on how to execute the technique. People can add comments and tags to existing techniques or add new techniques to Service Design KIT. 



= react_component("Footer")